.row-header{
	margin:0px auto;
	padding:0px auto;
}

.row-content{
	margin: 0px;
	padding: 50px 0px 50px 0px;
	border-bottom: 1px ridge;
	/*min-height: 400px*/
}

.footer{
	background-color: skyblue;
	margin: 0px;
	padding: 20px 0px 20px 0px;
}

.jumbotron{
	padding: 70px 30px 70px 30px;
	margin: 0px;
	background: lightpink;
	color: purple
}

.addres{
	font-size: 80%;
	margin: 0px;
	color: lightgreen;
}
body{
	padding: 50px 0px 0px 0px;
	z-index: 0;
}
.navbar-dark{
	background-color:purple;
}

.tab-content{
	border-left: 1px solid lightpink;
	border-right: 1px solid lightpink;
	border-bottom: 1px solid lightpink;
	padding: 10px;
}

.carousel{
	background:#bbff33;/*bfbfbf*/
}

.carousel-item{
	height: 300px;
}

.carousel-item img{
	position: absolute;
	top: 0;
	left: 0;
	min-height: 300px;
}

#carouselButton{
	right: 0px;
	position: absolute;
	bottom: 0px;
}

.modal-header{
	background: purple;
}
.modal-body{
	background: lightpink;
}